<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
</head>
<body>
  <h1>Página Inicial</h1>
  <ul>
    <li><a href="/listar">Listar Items</a></li>
    <li><a href="/form">Crear Item</a></li>

  </ul>
</body>
</html>
